<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjpowernode.p2p.mapper.loan.LoanInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bjpowernode.p2p.model.loan.LoanInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="DOUBLE" />
    <result column="cycle" property="cycle" jdbcType="INTEGER" />
    <result column="release_time" property="releaseTime" jdbcType="DATE" />
    <result column="product_type" property="productType" jdbcType="INTEGER" />
    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="product_money" property="productMoney" jdbcType="DOUBLE" />
    <result column="left_product_money" property="leftProductMoney" jdbcType="DOUBLE" />
    <result column="bid_min_limit" property="bidMinLimit" jdbcType="DOUBLE" />
    <result column="bid_max_limit" property="bidMaxLimit" jdbcType="DOUBLE" />
    <result column="product_status" property="productStatus" jdbcType="INTEGER" />
    <result column="product_full_time" property="productFullTime" jdbcType="TIMESTAMP" />
    <result column="product_desc" property="productDesc" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_name, rate, cycle, release_time, product_type, product_no, product_money, 
    left_product_money, bid_min_limit, bid_max_limit, product_status, product_full_time, 
    product_desc, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_loan_info
    where id = #{id,jdbcType=INTEGER}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_loan_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bjpowernode.p2p.model.loan.LoanInfo" >
    insert into b_loan_info (id, product_name, rate, 
      cycle, release_time, product_type, 
      product_no, product_money, left_product_money, 
      bid_min_limit, bid_max_limit, product_status, 
      product_full_time, product_desc, version
      )
    values (#{id,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{rate,jdbcType=DOUBLE}, 
      #{cycle,jdbcType=INTEGER}, #{releaseTime,jdbcType=DATE}, #{productType,jdbcType=INTEGER}, 
      #{productNo,jdbcType=VARCHAR}, #{productMoney,jdbcType=DOUBLE}, #{leftProductMoney,jdbcType=DOUBLE}, 
      #{bidMinLimit,jdbcType=DOUBLE}, #{bidMaxLimit,jdbcType=DOUBLE}, #{productStatus,jdbcType=INTEGER}, 
      #{productFullTime,jdbcType=TIMESTAMP}, #{productDesc,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bjpowernode.p2p.model.loan.LoanInfo" >
    insert into b_loan_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="cycle != null" >
        cycle,
      </if>
      <if test="releaseTime != null" >
        release_time,
      </if>
      <if test="productType != null" >
        product_type,
      </if>
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="productMoney != null" >
        product_money,
      </if>
      <if test="leftProductMoney != null" >
        left_product_money,
      </if>
      <if test="bidMinLimit != null" >
        bid_min_limit,
      </if>
      <if test="bidMaxLimit != null" >
        bid_max_limit,
      </if>
      <if test="productStatus != null" >
        product_status,
      </if>
      <if test="productFullTime != null" >
        product_full_time,
      </if>
      <if test="productDesc != null" >
        product_desc,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DOUBLE},
      </if>
      <if test="cycle != null" >
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null" >
        #{releaseTime,jdbcType=DATE},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productMoney != null" >
        #{productMoney,jdbcType=DOUBLE},
      </if>
      <if test="leftProductMoney != null" >
        #{leftProductMoney,jdbcType=DOUBLE},
      </if>
      <if test="bidMinLimit != null" >
        #{bidMinLimit,jdbcType=DOUBLE},
      </if>
      <if test="bidMaxLimit != null" >
        #{bidMaxLimit,jdbcType=DOUBLE},
      </if>
      <if test="productStatus != null" >
        #{productStatus,jdbcType=INTEGER},
      </if>
      <if test="productFullTime != null" >
        #{productFullTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.p2p.model.loan.LoanInfo" >
    update b_loan_info
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DOUBLE},
      </if>
      <if test="cycle != null" >
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null" >
        release_time = #{releaseTime,jdbcType=DATE},
      </if>
      <if test="productType != null" >
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="productNo != null" >
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productMoney != null" >
        product_money = #{productMoney,jdbcType=DOUBLE},
      </if>
      <if test="leftProductMoney != null" >
        left_product_money = #{leftProductMoney,jdbcType=DOUBLE},
      </if>
      <if test="bidMinLimit != null" >
        bid_min_limit = #{bidMinLimit,jdbcType=DOUBLE},
      </if>
      <if test="bidMaxLimit != null" >
        bid_max_limit = #{bidMaxLimit,jdbcType=DOUBLE},
      </if>
      <if test="productStatus != null" >
        product_status = #{productStatus,jdbcType=INTEGER},
      </if>
      <if test="productFullTime != null" >
        product_full_time = #{productFullTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productDesc != null" >
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpowernode.p2p.model.loan.LoanInfo" >
    update b_loan_info
    set product_name = #{productName,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DOUBLE},
      cycle = #{cycle,jdbcType=INTEGER},
      release_time = #{releaseTime,jdbcType=DATE},
      product_type = #{productType,jdbcType=INTEGER},
      product_no = #{productNo,jdbcType=VARCHAR},
      product_money = #{productMoney,jdbcType=DOUBLE},
      left_product_money = #{leftProductMoney,jdbcType=DOUBLE},
      bid_min_limit = #{bidMinLimit,jdbcType=DOUBLE},
      bid_max_limit = #{bidMaxLimit,jdbcType=DOUBLE},
      product_status = #{productStatus,jdbcType=INTEGER},
      product_full_time = #{productFullTime,jdbcType=TIMESTAMP},
      product_desc = #{productDesc,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自定义方法开始-->
  <!--年利率-->
  <select id="selectYearRate" resultType="java.math.BigDecimal">
    select cast(AVG(rate) as decimal (11,2))
    from b_loan_info
  </select>
  <select id="selectLoanInfoForIndex" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
      from b_loan_info
      where product_type=#{type}
      order by release_time desc
      limit #{offSet},#{rows}
  </select>
  <select id="selectLoanInfoForLoan" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from b_loan_info
    where product_type=#{type}
    order by release_time desc
    limit #{offSet},9
  </select>
  <select id="selectRowsByProductType" resultType="java.lang.Integer">
    select count(*)
    from b_loan_info
    where product_type=#{ptype}
  </select>
  <select id="selectProductDetailsById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
      from b_loan_info
      where id=#{id}
  </select>
    <select id="selectRecentInvestment" resultType="com.bjpowernode.p2p.model.loan.RecentInvestment">
      select l.product_name as productName , b.bid_money as money , b.bid_time as bidTime
      from b_bid_info as b
      join u_user as u on b.uid=u.id
      join b_loan_info as l on b.loan_id=l.id
      where u.id = #{uId}
    </select>
    <select id="selectByProductStatus" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"></include>
        from b_loan_info
        where product_status = #{status}
        order by id
    </select>
    <!--更新使用乐观锁version-->
  <update id="updateLoanInfoById">
    update
     b_loan_info
    set
     left_product_money=left_product_money - #{bidMoney},
     version = version+1
     where
      id = #{loanId} and version = #{version}
  </update>
    <!---->
</mapper>